body {
  margin-top: 100px;
}
.enLinea {
  display: inline;
}
.oculto {
  display: none;
}
.note-codable {
  height: 300px;
}
.dosColumnas,
.contenedorCursos .checkbox,
.contenedorProfesores .checkbox {
  width: 50%;
  display: inline-block;
}
.panelAcciones {
  padding: 5px!important;
}
/*Botones*/
.botones {
  padding: 10px 17px;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.botonEditar:before {
  content: '\f040';
  font-family: FontAwesome;
  color: white;
}
.botonEditar {
  background: #536270;
}
.botonVer {
  background: #0FA8FF;
}
.botonVer:before {
  color: white;
  content: '\f06e';
  font-family: FontAwesome;
}
.botonBorrar:before {
  content: "\f1f8";
  font-family: FontAwesome;
  color: white;
}
.botonBorrar {
  background: #ED5153;
}
.botonAdd:before {
  margin-right: 5px;
  content: "\f067";
  font-family: FontAwesome;
  color: white;
}
.botonInforme:before {
  content: '\f1c1';
  font-family: FontAwesome;
  color: red;
  background: white;
  margin-right: 5px;
  border-radius: 0 7px 0 0;
}
/*Fin botones*/
td.actions {
  padding: 13px!important;
}
.flechaSuperior:before {
  content: "\f062";
  font-family: FontAwesome;
}
.flechaInferior:before {
  content: "\f063";
  font-family: FontAwesome;
}
.imagenMiniatura {
  border: 2px solid #9DC7D4;
  border-radius: 3px;
  width: 135px;
  height: 52px;
}
.enlaceHome:before {
  content: "\f015";
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
}
.zonaUsuarioContainer {
  height: 50px;
}
.panelUsuario {
  top: -15px;
}
.panelUsuario > a {
  padding-bottom: 0!important;
}
.cajaBusqueda form {
  margin: 0;
}
.contenedorBusquedaTrimestre label {
  display: inline-block;
  margin-right: 20px;
}
.botonRestablecer {
  border-radius: 0;
  height: 51px;
  margin-left: 20px;
}
.botonRestablecer:hover {
  background-color: #8D6E65;
}
/*Vista edit de actividad */
.contenedorTrimestre span {
  display: block;
}
.contenedorTrimestre label {
  display: inline-block;
}
.contenedorTrimestre input[type=radio] {
  margin-left: 0.5em;
  position: initial!important;
}
/*ICONOS */
.contenedorIconos {
  margin: 10px 0;
}
.contenedorIcono {
  font-size: 3em;
  text-align: center;
  border: 1px solid black;
}
