/* Color principal del diseño */
#carousel-example-generic {
  margin-bottom: 64px;
}
.item {
  height: 390px;
  background-size: cover;
}
.carousel {
  height: 390px;
  margin-top: 15px;
}
.carousel-caption {
  width: 96%;
  border-bottom: 2px solid #f1c832;
  bottom: 35px;
  height: 128px;
  left: 0;
  right: 0;
  font-family: OswaldRegular;
  text-transform: uppercase;
}
.carousel-caption .contenedor-etiqueta {
  padding-left: 28px;
  padding-top: 17px;
  width: 279px;
  heigh: 128px;
  background-color: #444444;
  text-align: left;
  position: absolute;
  left: 70%;
  bottom: 0px;
}
.carousel-caption .fecha {
  font-size: 14px;
  display: block;
}
.carousel-caption .tipo {
  font-size: 28px;
  display: block;
}
.carousel-caption .info {
  font-size: 14px;
  display: inline-block;
}
.carousel-caption .clave {
  font-size: 41px;
  color: #f1c832;
  display: inline-block;
}
.carousel-indicators {
  bottom: -42px;
  margin-left: -46%;
  text-align: initial;
}
.carousel-indicators li.miniatura {
  height: 56px;
  width: 132px;
  border-radius: 0;
  background-size: cover;
  position: relative;
  border: 3px solid white;
  outline: 1px solid #c8c8c8;
  margin-right: 16px;
}
.carousel-indicators li.miniatura.active {
  border: 3px solid #f1c832;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-control:focus,
.carousel-control:hover {
  background-image: none;
  color: inherit;
  opacity: 0.5;
}
.botonera-slider {
  width: 59px;
  height: 40px;
  position: absolute;
  top: 218px;
  right: -23px;
  background-color: #f1c832;
  text-align: center;
}
.botonera-slider a.left i {
  font-size: 33px;
  padding-top: 3px;
  padding-left: 12px;
}
.botonera-slider a.right i {
  font-size: 33px;
  padding-top: 3px;
  margin-left: -26px;
}
.carousel-control {
  position: inherit;
}
