// General

.oculto{
	display:none;
}
.note-codable{
	height: 300px;
}

// Fin General


// Menú

.navbar-default{
	background-color:inherit;
	border:none;

	.navbar-nav>li>a{
		color:white;
		&:hover{
			color:#8D6E65
		}
	}
	.navbar-brand{
		color:white;
	}

}

.enlaceHome:before{
	content: "\f015";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
}

.panelUsuario{
	top:-15px;
}

// Búsqueda
.cajaBusqueda{
	form{
		margin:0;
	}
}
.contenedorBusquedaTrimestre{
	label{
		display:inline-block;
		margin-right: 20px;
	}
}
.botonRestablecer{
	border-radius: 0;
	height: 51px;
	margin-left: 20px;
	&:hover{
		background-color:#8D6E65;
	}
}