*{
	box-sizing: border-box;
}
h2{
	font-family: "MyriadProRegular";
	font-size:21px;
	color:#f7f7f7;
}
h3{
	font-family: OswaldLight;
	font-size: 20px;
	color: #5a5a5a;
}
h3.titulo{
border-bottom: 1px solid #c4c4c4;
}
h3.titulo>b{
	font-family:OswaldDemiBold;
	line-height: 33px;
}
.cabeceraTitulo{
    padding-right: 14px;
    margin-right: -15px;
	border-bottom:3px solid #f1c832;
}
.oculto{
	display:none;
}
.container{
	max-width:960px;
}
.nopadding{
	padding:0;
}
// .row{
// 	max-width:960px;
// 	margin: 0 auto;
// }
@import 'fonts.less';
@import 'cabecera.less';
@import 'menu.less';
@import 'slider.less';
@import 'actividades-destacadas.less';
@import 'actividades-proximas.less';
@import 'actividades.less';
@import 'vista-actividades.less';
@import 'footer.less';

@media (max-width:800px){
	.row{
		margin-left:0!important;
		margin-right:0!important;

	}
}